/* products */
.products {
  grid-area: products;
  grid-column: 1/5;
  grid-row: 3/4;
  border-top: 1px solid $secondary-color;
}
.products h3 {
  font-family: $titles;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  color: $secondary-color;
}
.products p {
  font-family: $text;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: $secondary-color;
  line-height: 2;
  padding: 30px 250px 40px 250px;
}
.row-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.button-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}
.products button {
  background-color: $secondary-color;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 50px 0;
  display: flex;
}
.products button:hover {
  background-color: #3b230c;
}
.products button a {
  text-decoration: none;
  color: $primary-color;
  font-family: $titles;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
}
.products button a:hover {
  color: $secondary-color;
}
.product-item h4 {
  font-family: $titles;
  font-size: 40px;
  text-align: center;
  color: $secondary-color;
}