@import 'header';
@import 'hero';
@import 'qs';
@import 'products';
@import 'tcn';
@import 'contact';
@import 'footer';
@import 'grid';

$primary-color: #5c3712;
$secondary-color: #ffffff;
$titles: 'Oswald', sans-serif;
$text: sans-serif;